body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u5 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(83, 164, 230, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6 {
  position:absolute;
  left:148px;
  top:46px;
  width:79px;
  height:18px;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u7 {
  position:absolute;
  left:0px;
  top:-1px;
  width:79px;
  word-wrap:break-word;
}
