body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u35 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:84px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:373px;
  height:84px;
}
#u37 {
  position:absolute;
  left:2px;
  top:34px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(83, 164, 230, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u38 {
  position:absolute;
  left:148px;
  top:46px;
  width:79px;
  height:18px;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u39 {
  position:absolute;
  left:0px;
  top:-1px;
  width:79px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:152px;
  top:276px;
  width:71px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
